<mtapp:widget class="widget" label="<__trans phrase="Movabloo">">
<div class="shortcuts-list">
<p>
Install quick post menu to Google Chrome browser.
</p>
<a class="button" href="<mt:var name="script_url">?__mode=movabloo&amp;blog_id=<mt:var name="blog_id">">install movabloo</a>
</div>
</mtapp:widget>
